<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <services>
            <register serviceType="Sitecore.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.ExperienceForms.Mvc" implementationType="Sitecore.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.ExperienceForms.Mvc" >
                <patch:attribute name="serviceType">Sitecore.Support.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.Support.400109.439440</patch:attribute>
                <patch:attribute name="implementationType">Sitecore.Support.ExperienceForms.Mvc.Controllers.FormBuilderController, Sitecore.Support.400109.439440</patch:attribute>
            </register>
        </services>
        <pipelines>
            <initialize>
                <processor type="Sitecore.ExperienceForms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.ExperienceForms.Mvc" >
                    <patch:attribute name="type">Sitecore.Support.ExperienceForms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.Support.400109.439440</patch:attribute>
                </processor>
            </initialize>
        </pipelines>
    </sitecore>
</configuration>